{"@type":"create","object":"Domain","value":{"dom-main":{"name":"${STALWART_DOMAIN}"}}}
{"@type":"update","object":"SystemSettings","value":{"defaultHostname":"${STALWART_HOSTNAME}","defaultDomainId":"#dom-main"}}
{"@type":"create","object":"NetworkListener","value":{"lsnr-submission":{"name":"submission","protocol":"smtp","bind":{"[::]:587":true},"useTls":true,"tlsImplicit":false},"lsnr-imap":{"name":"imap","protocol":"imap","bind":{"[::]:143":true},"useTls":true,"tlsImplicit":false},"lsnr-pop3":{"name":"pop3","protocol":"pop3","bind":{"[::]:110":true},"useTls":true,"tlsImplicit":false}}}
{"@type":"create","object":"Tracer","value":{"trc-stdout":{"@type":"Stdout","level":"info","enable":true,"ansi":false,"buffered":false,"events":{},"eventsPolicy":"exclude","lossy":false}}}
